Source: geni-pgch
Section: contrib/misc
Priority: extra
Maintainer: Tom Mitchell <tmitchell@bbn.com>
Build-Depends: debhelper (>= 7), python-dev
Standards-Version: 3.8.4
Homepage: http://www.geni.net/

Package: geni-pgch
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: GENI Clearinghouse ProtoGENI bridge
 A bridge between the ProtoGENI SA and CH APIs and the GENI
 Clearinghouse.
