/*  CSS Style Sheet for GENI Dashboard */

.dashtext {
  display: inline;
  text-decoration: none !important;
  font-weight: normal !important;
}

.activesection {
  font-weight: bold;
}

#sectionswitch a {
  cursor: pointer;
}

#sectionswitch a:hover {
  cursor: pointer;
  font-weight: bold;
  background-color: #f9f9f9 !important; 
}

#slicearea {
  overflow-x: hidden;
}

#projectarea {
  overflow-x: hidden;
}

/* Slicebox "fly in" animations */
.slicebox {
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}

.slicebox.loading {
  -webkit-transform: translate(300%);
  transform: translate(300%);
  opacity: 0;
  -webkit-transition-timing-function: cubic-bezier(.55,0,.1,1);
  transition-timing-function: cubic-bezier(.55,0,.1,1);
}

.slicebox {
  width: 275px;
  padding: 0px;
  margin: 20px 15px 20px 25px;
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.slicebox:hover {
  animation: raise;
  animation-duration: .2s;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.slicebox table {
  margin: 0px !important;
  box-shadow: none !important;
}

.slicebox td {
  padding: 12px 4px;
}

.slicetopbar {
  background-color: #F57F21 !important;
  height: 30px;
  line-height: 30px;
  color: white !important;
}

.slicetopbar:hover {
  background-color: #FB8C00 !important;
  cursor: pointer;
}

/* Header submenus and new selects */

.submenu {
  position: absolute;
  display: none;
  border-top: 1px solid #fff;
  margin: 0 !important;
  padding: 0;
  width: 150px;
  list-style-type: none;
  background-color: #ffffff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  z-index: 750;
}

.submenu li {
  font-family: 'Open Sans';
  background-color: #ffffff;
  color: #303030;
  width: 150px;
  height: 30px;
  line-height: 30px;
  margin: 0px;
  text-align: center;
}

.submenu li a {
  font-family: 'Open Sans';
  display: block;
  text-decoration: none;
  color: #303030;
}

.submenu li a:hover {
  display: block;
  text-decoration: none;
  color: white;
}

.submenu li:hover {
  background-color: #FB8C00;
  color: white;
}

.selectorcontainer {
  display: inline-block;
}

.selector {
  background-color: #FFFFFF;
  font-size: 14px;
  font-weight: normal;
  text-align: center;    
  display: inline-block;
  min-width: 150px;
  width: 150px;
  float: right;
  height: 30px;
  line-height: 30px;
  margin: 0px 15px !important;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.selector:hover {
  background-color: #EEEEEE;
  animation: raise;
  animation-duration: .2s;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);  
}

.selector .submenu {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  width: 150px;
}

.selector .submenu li {
  background-color: #ffffff;
  min-width: 150px;
  width: 150px;
  height: 30px;
  line-height: 30px;
  margin: 0px;
}

.selector .submenu li:hover {
  cursor: pointer;
  background-color: #FB8C00;
  color: white;
}

.selectorlabel {
  font-weight: bold;
}

.selectorlabel:hover {
  cursor: default !important;
  background-color: #FFFFFF !important;
  color: #303030 !important;
}

#slicefilterswitch {
  margin: 20px 15px;
}

#loglength {
  margin: 20px 10px;
  width: 150px;
}

#slicesortby {
  margin: 20px 15px;
}

.projectinfo {
  margin: 0px 20px 20px 20px;
}

.noprojects {
  clear: both;
  margin-top: 30px !important;
}

.noslices {
  clear: both;
  margin-top: 30px !important;
}

.purposebox {
  width: 255px;
  max-width: 255px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#logtable {
   margin-left: 20px !important;
   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
   border-top: 2px solid #F57F21;
}

#logtable td {
  padding: 10px 20px;
}

.slicelink:hover {
  cursor: pointer;
  text-decoration: underline;
}

.sliceactions li {
  height: 30px;
}

.sliceactions ul {
  margin: 0px;
}

.sliceactions li .submenu li {
  height: 30px;
}

.expirationicon {
  height: 16px;
  width: 16px;
  vertical-align: middle;
  margin-left: 5px; 
}

#hamburger {
  display: none;
}

.mobilebreak {
  display: none;
}

/* ----------- MOBILE DASHBOARD ----------------*/

@media (max-width: 600px) {
  .mobilebreak {
    display: block;
  }

  #hamburger {
    display: inline;
  }

  #globe {
    display: none;
  }

  #dashboardtools {
    display: none;
    background-color: #EEEEEE;
    width: 130px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    position: absolute;
    border-top: 1px solid #fff;
    margin: 0 !important;
    padding: 0;
    z-index: 2;
    top: 50px;
    height: auto;
  }

  #dashboardtools li {
    background-color: #EEEEEE;
  }

  #dashboardtools li .submenu {
    left: 130px;
  }

  .dashtext {
    text-align: center;
  }

  .floatright, .floatleft {
    float: none;
    margin: 0 auto;
  }

  .selector {
    margin: 5px !important;
  }

  .slicebox {
    margin: 20px auto;
  }

  #projectcontrols {
    text-align: center;
  }

  #projectswitch {
    margin: 5px 15px;
  }

  .projectinfo {
    margin: 0px 0px 0px 20px;
    text-align: center;
  }

  .slicelink {
    text-decoration: underline;
  }

  #logtable {
    margin-left: 0px;
  }

  #dashboardheader {
    min-width: 0px;
  }
}
