/* --------------------------------------------*/
/* ----------- MOBILE DASHBOARD----------------*/
/* --------------------------------------------*/

.dashtext {
/*  padding: 0px;
  border: none !important;
  margin: 5px 0px !important;*/
  color: #303030 !important;
  text-shadow: none !important;
  display: inline;
  font-weight: normal;
}

.floatright {
  float: right;
}

.floatleft {
  float: left;
}

.slicebox {
  width: 300px;
  padding: 0px;
  margin: 20px 15px 20px 25px;
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.slicebox:hover {
  animation: raise;
  animation-duration: .2s;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.slicebox table {
  margin: 0px !important;
  box-shadow: none !important;
}

.slicebox td {
  padding: 12px 4px;
}

select {
  font-size: 14px;
  font-weight: bold;
  color: #040404;
  background-color: white;
  border: 2px solid #5F584E;
  padding: 5px;
  border-radius: 0px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

select:hover {
  background-color: #fcfcfc;
}

select:focus {
  outline-width: 0;
}

option {
  font-size: 16px;
}

option:focus {
    outline-width: 0;
}

#projectswitch {
  margin: 20px 15px;
}

#loglength {
  margin: 20px 10px;
}

#sortby {
  margin: 20px 15px;
}

.projectinfo {
  margin-left: 20px;
}

#logtable {
   margin-left: 20px !important;
   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#logtable td {
  padding: 10px 20px;
}

.slicelink:hover {
  cursor: pointer;
  text-decoration: underline;
}

button {
  width: 120px;
}

.expirationicon {
  height: 16px;
  width: 16px;
  vertical-align: middle;
  margin-left: 5px; 
}

#hamburger {
  display: none;
}
/* --------------------------------------------*/
/* ----------- MOBILE DASHBOARD----------------*/
/* --------------------------------------------*/

@media (max-width: 600px) {
  #hamburger {
    display: inline;
  }

  #globe {
    display: none;
  }

  #dashboardtools {
    display: none;
    background-color: #EEEEEE;
    width: 130px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    position: absolute;
    border-top: 1px solid #fff;
    margin: 0 !important;
    padding: 0;
    z-index: 2;
    top: 50px;
    height: auto;
  }

  #dashboardtools li {
    background-color: #EEEEEE;
  }

  #dashboardtools li .submenu {
    left: 130px;
  }

  .dashtext {
    text-align: center;
  }

  .floatright, .floatleft {
    float: none;
    margin: 0 auto;
  }

  .slicebox {
    margin: 20px auto;
  }

  #projectcontrols {
    text-align: center;
  }

  #projectswitch {
    margin: 5px 15px;
  }

  .projectinfo {
    margin: 0px 0px 0px 20px;
    text-align: center;
  }

  .slicelink {
    text-decoration: underline;
  }

  #logtable {
    margin-left: 0px;
  }

  #dashboardheader {
    min-width: 0px;
  }
}
