/*
  CSS Style Sheet for GENI Portal

  Color scheme:
    #E17000 - official GENI orange
                  table headers
                  header colors
                  link colors
    #5F584E - dark gray
                  code background
                  navigation bar background
    #C5D3D7 - medium gray
                  page background
    #E5E5E5 - light gray
                  footer background
    #DBD7CC - tan
                  accents
                  
  Fonts:
    Open Sans - header/footer text, headers
    PT Serif - body text
    Open Sans Mono - monospaced text

*/

body {
  background-color: #C5D3D7;
  margin-top: 0px;
  margin-bottom: 0px;
}

hr {
 height: 0px;
 border: none;
 margin: 0px;
 padding: 0px;
 clear: both;
}

/*
  HEADER CONTAINER (and navigation bar)
*/

#header {
  padding-bottom: 0px;
    /* center */
    margin-left: auto;
    margin-right: auto;
    width: 897px;
  border-left: 2px solid #5F584E;
  border-right: 1px solid #5F584E;
  margin-top: 30px;
  margin-bottom: 0px;
  border-top: 5px solid #5F584E;
  background-color: #FFFFFF;
  /* by default, let text be serif */
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  vertical-align: bottom;
  background-image: url("../../images/header-home.jpg");
  background-repeat: no-repeat;
  box-shadow: 0px 0px 10px #5F584E;
}

#header-top {
  height: 145px;
  border-left: 14px solid #DBD7CC;
}

#metanav {
  padding: 0px;
  color: #5F584E;
  float: right;
}

#metanav a {
  color: #5F584E;
}

#metanav li { 
  border-right: 2px solid #5F584E;
}

#metanav ul {
  padding: 5px;
    background-color:rgba(229,229,229,0.75);
}

/* Main navigation bar */
#mainnav {
  background: #5F584E;
  border: 5px solid #5F584E;
  margin: 0;
  padding: 5px;
  width: 878px;
}
#mainnav li { 
  border-left: 2px solid #ffffff;
  padding: 0.25em;
}

#mainnav :link, #mainnav :visited {
  text-decoration: none;
  color: #ffffff;
  padding: .2em 20px;
}

#mainnav :link:hover, #mainnav :visited:hover {
  color: #ffffff;
  text-shadow: 0.1em 0.1em 0.2em #ffffff;
}

#mainnav .active :link, #mainnav .active :visited {
  color: #ffffff;
  font-weight: bold;
}
#mainnav .active :link:hover, #mainnav .active :visited:hover {
  color: #ffffff;
  font-weight: bold;
}

/* Navigation */

.nav h2, .nav hr { display: none }
.nav ul { 
  font-size: 0.8em; 
  list-style: none; 
  margin: 0; 
  text-align: right;
}
  
.nav li {
  display: inline;
  padding: 0 .75em;
  white-space: nowrap;
}
.nav li.last { 
  border-right: none;
}


/*
  CONTENT CONTAINER
*/

/* orange bar on left side */
#content-outer {
  border-left: 2px solid #E17000;
  border-right: 1px solid #E17000;
  border-top: 5px solid #E17000;
  border-bottom: 5px solid #E17000;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 897px;
  box-shadow: 0px 0px 10px #5F584E;
}

#content {
  /* white space */
  background-color: #FFFFFF;
  padding-left: 60px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-top: 20px;
  margin-top: 0px;
  /* by default, let everything be serif 
     unless otherwise specified */
  font-family: 'PT Serif', serif;
  font-weight: 400;
  /* by default, let everything have a line
     height of 1.4em unless otherwise specified */
  line-height: 1.4em;
  /* side borders */
  border-left: 14px solid #DBD7CC;
}

/* Headers: use sans serif */
#content h1, h2, h3, h4, h5, h6, h7 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-shadow: 0.1em 0.1em 0.2em #dddddd;
  color: #E17000; /* official GENI orange */
}

/* Header spacing */
#content h1 {
  font-size: 1.8em;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 0px;
}
#content h2 {
  font-size: 1.4em;
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: 20px;
}
#content h3, h4, h5, h6, h7 {
  font-size: 1.1em;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 40px;
}

/* Bold: use sans serif */
#content b {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

/* Paragraphs: use serif */
#content p {
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 60px;
}

/* Lists */
#content li {
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 60px;
}

/* inline lists should not have large left margin */
#content li li {
  margin-left: 0px;
}

/* Blocks of code */
#content pre {
  font-family: 'Open Sans Mono', monospace;
  font-weight: 400;
  font-size: .8em;
  line-height: 1.3em;
  background-color: #5F584E;
  color: #E5E5E5;
  padding: 5px;
  margin-left: 45px;
  border: 2px solid #E5E5E5;
  box-shadow: 3px 3px 10px #5F584E;
}

/* Inline code */
#content code, tt {
  font-family: 'Open Sans Mono', monospace;
  font-weight: 400;
}

/* Buttons */
#content button, input[type=submit], input[type=button] {
  /* make all buttons have bold text by default */
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  box-shadow: 0px 0px 5px #5F584E;
  margin: 2px;
}

/* Links */
#content a {
  color: #E17000; /* official GENI orange */
  border-bottom: 1px dashed #E17000;
  text-decoration:none;
}

#content a:hover {
  background-color: #E5E5E5;
  color: #E17000; /* official GENI orange */
  border-bottom: 1px dashed #E17000;
  text-decoration:none;
}

/* Tables */
#content table {
  background-color: #FFFFFF;
  border-collapse: collapse;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1.2em;
  margin-left: 60px;
  box-shadow: 4px 4px 10px #5F584E;
}

/* inline table should not have large left margin */
#content table table {
  margin-left: 0px;
}

#content th {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
	font-size: 1em;
	padding: 6px;
	background: #E17000;
	border-top: 4px solid #5F584E;
	border-bottom: 1px solid #fff;
	color: #fff;
	vertical-align:middle;
}

#content td {
  font-family: 'PT Serif', serif;
  font-weight: 400;
  font-size: 0.9em;
	padding: 6px;
	background: #DBD7CC; 
	border-bottom: 1px solid #fff;
	color: #5F584E;
	border-top: 1px solid transparent;
	vertical-align:middle;
}

#content td a {
  color: #5F584E;
  border-bottom: 1px dashed #5F584E;
}

/*
  BREADCRUMB CONTAINER
*/
#breadcrumb {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #5F584E;
  background-image: url("../../images/geni_globe.png");
  background-size:30px auto;
  background-repeat:no-repeat;
  padding-left: 40px;
  min-height: 30px;
  border-bottom: 1px solid #E17000;
}

#breadcrumb a {
  text-decoration: none;
  border-bottom: 0px;
}

/*
  MAP CONTAINERS
*/

#map1 {
  color: #ffffff;
    box-shadow: 3px 3px 10px #5F584E;
}

#map1 a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 0px;
}

#maptext {
  color: #5F584E;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

#maptext h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-shadow: 0.1em 0.1em 0.2em #dddddd;
  color: #E17000;
  font-size: 1em;
  margin: 5px;
  line-height: 1.2em;
}

#maptext p {
  font-size: 0.7em;
  margin: 5px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 1em;
}

#maptext ul {
  margin-left: 0px;
}

#maptext li {
  font-size: 0.7em;
  margin: 5px;
  line-height: 0.7em;
}

.olPopupContent {
    overflow: auto;
    padding: 0px;
}

#OpenLayers_Control_Attribution_7 {
    padding: 5px;
    z-index: 1000;
    bottom: 0.2em !important;
    overflow: hidden;
    color: #5F584E;
    font-size: 0.8em !important;
    text-align: right;
}

#OpenLayers_Control_Attribution_7 a {
      color: #5F584E;
}


/*
  FOOTER CONTAINER
*/

#footer {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left:62px;
  padding-right:31px;
    /* center */
    margin-left: auto;
    margin-right: auto;
    width: 807px;
  margin-bottom: 30px;
  /* by default, let text be serif */
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  box-shadow: 0px 0px 10px #5F584E;
  background-color: #5F584E;
  color: #ffffff;
  overflow: auto;
}

#footer a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
}

#footer-left {
  float: left;
  text-align: left;
  width: 400px;
  font-size: 0.9em;
}

#footer-right {
  float: right;
  text-align: right;
  width: 400px;
  font-size: 0.8em;
  border-right: 2px solid #ffffff;
  padding-right: 15px;
}

.landingpage {
 width:10in;
 margin-left: auto;
 margin-right: auto;
}

div#geni{
 display: block;
 float: left;
 margin-left: .4in; 
 margin-right: .1in;
 margin-top: .2in;
}

div#geni img{
 width: 1in;
}

div#welcome{
 display: block;
 width: 7in;
 float: left;
 border-top: solid 10px lightgray;
 margin: 0;
 padding: 0;
 padding-top: .25in;
}

div#loginHelpdiv{
 display: block;
 width: 1in;
 float: left;
 margin-top: 0.25in;
}


div#landingcontent, div#content.landingpage {
 display: block;
}

div#blank {
 display: block;
 width: 1.5in;
 float: left;
}

div#main{
 display: block;
 width: 4.5in;
 float:left; 
}

div#map{
 display: block;
 width: 3in;
 float:left; 
 top: 1in;
 padding-top: 2em;
 font-size:80%; 
 text-align:center; 
 margin:5px 5px 5px 25px;
}

div#map img {
 width: 3in;
 height: 2in;
}

div#map .legend {
 text-align: left;
 color: gray;
}

/* #loginDiv { */
/*  display: block; */
/*  clear: both; */
/*  position: relative; */
/*  height: 1.5in; */
/* } */
/* #loginDiv > #loginButtons { */
/*  text-align: center; */
/*  padding-left: 0.5in; */
/*  padding-top: 0.5in; */
/* } */

#incommon-logo {
width: .75in;
padding: 0.25in;
left: 0.5in;
margin-top: .75in;
top: 3in;
float: left;
margin-left: .4in;
}

/* #loginButton, #loginHelp { */
/*  width: 17em; */
/*  padding: .25cm .25cm; */
/* } */

#usegeni {
    width: 1.5in;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    padding-bottom: 1em;
}

.announce {
  font-style:italic;
}

.instruction {
 color: green;
 font-weight: bold;
 border: 1px solid green;
 margin: 10px;
 padding: 10px;
 width: 50%;
}

.warn {
 color: red;
 font-weight: bold;
 border: 1px solid red;
 margin: 10px;
 padding: 10px;
 width: 50%;
}

.starter {
 color: black;
 font-weight: bold;
 border: 1px solid black;
 margin: 10px;
 padding: 10px;
}

.starter .done a{
    color: green;
}
.starter .notdone a{
    color: red;
}

.deemphasize {
 color: gray;
}

.notqueried, .configuring, .unknown, .busy, .ready, .failed {
 padding: 2px;
 margin: 2px;
 color: black;
 background-color: BlanchedAlmond;
}
.configuring, .unknown, .busy, .ready, .failed {
 text-transform:uppercase;
}

.ready {
 color: White;
 border-color: green;
 background-color: green;
}

.failed {
 color: BlanchedAlmond;
 border-color: red;
 background-color: red;
}

.busy {
 color: Black;
 border-color: yellow;
 background-color: yellow;
}

input.date {
 width: 14en;
}


/*table {
 background-color: #DCE2E8;
 margin: 1em;
 
}

td {
 margin: 3px;
 padding: 3px;
 background-color: BlanchedAlmond;
}

th {
 margin: 3px;
 padding: 3px;
 background-color: SkyBlue;
 text-align: left;
}

td.status_buttons, th#status{
 text-align:center;
}

table#renewtable, table#renewtable > td {
    margin: 0em;
    padding: 0em;
    text-align:left;
    background-color: BlanchedAlmond;
}
td#renewbutton {
    text-align:center;
}
*/

.notqueried, .configuring, .unknown, .busy, .ready, .failed {
 text-align:center;
}


td.label {
 background-color: #E6D4B8;
}


table .aggregate {
 background-color: SkyBlue;
}

table .resource {
 background-color: PowderBlue;
}

table .notapply {
 background-color: #DCE2E8;
}

.aggregate, .resources {
 padding: 8px;
}
.aggregate {
 background-color: SkyBlue;
}

.resources {
 margin-bottom: 1em;
 background-color: PowderBlue;
}

.xml, .msg {
 white-space: pre;
 font-family: monospace;
}

