            <mdui:UIInfo xmlns:mdui="urn:oasis:names:tc:SAML:metadata:ui">
              <mdui:DisplayName xml:lang="en">GENI Project Office</mdui:DisplayName>
              <mdui:InformationURL xml:lang="en">https://www.geni.net/          
              </mdui:InformationURL>
              <mdui:PrivacyStatementURL xml:lang="en">https://@portal_host@/policy/privacy.html</mdui:PrivacyStatementURL>
              <mdui:Logo height="149" width="176" xml:lang="en">https://@portal_host@/images/geni.png</mdui:Logo>
            </mdui:UIInfo>
